<div>
    <div class="filters-container">
        <h4>TIPO DE CALZADO</h4>
        <div class="filter">
            <input id="Categoria3_Ballerinas" class="checkbox-filter" type="checkbox" label="Ballerinas" >
            <label for="Categoria3_Ballerinas" >Ballerinas</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Botas" class="checkbox-filter" type="checkbox" label="Botas" >
            <label for="Categoria3_Botas" >Botas</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Botines" class="checkbox-filter" type="checkbox" label="Botines" >
            <label for="Categoria3_Botines" >Botines</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Casuales" class="checkbox-filter" type="checkbox" label="Casuales" >
            <label for="Categoria3_Casuales" >Casuales</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Zapatos_de_Vestir_Fiesta" class="checkbox-filter" type="checkbox" label="Fiesta / Vestir" >
            <label for="Categoria3_Zapatos_de_Vestir_Fiesta" >Fiesta / Vestir</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Mocasines" class="checkbox-filter" type="checkbox" label="Mocasines" >
            <label for="Categoria3_Mocasines" >Mocasines</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Mules" class="checkbox-filter" type="checkbox" label="Mules / Slippers" >
            <label for="Categoria3_Mules" >Mules / Slippers</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Oxford" class="checkbox-filter" type="checkbox" label="Oxford" >
            <label for="Categoria3_Oxford" >Oxford</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Plataformas" class="checkbox-filter" type="checkbox" label="Plataformas" >
            <label for="Categoria3_Plataformas" >Plataformas</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Playeras" class="checkbox-filter" type="checkbox" label="Playeras" >
            <label for="Categoria3_Playeras" >Playeras</label>
        </div>
        <div class="filter">
            <input id="Categoria3_Sandalias" class="checkbox-filter" type="checkbox" label="Sandalias" >
            <label for="Categoria3_Sandalias" >Sandalias</label>
        </div>
    </div>
    <div class="clearfix"></div>
    {% include 'common-filters-mujer.html' %}
</div>
