{% extends "./listado_productos.html" %}
{% block section_name %} Ballerinas Mujer {% end %}
{% block tags %}Categoria2_Calzado_Mujer,-Categoria2_Calzado_Hombre,Categoria3_Ballerinas{% end %}

{% block categories %}
<div>
    <div class="filters-container">
        <h4>TIPO DE CALZADO</h4>

        <div class="filter">
            <input id="Categoria3_Ballerinas" class="checkbox-filter" type="checkbox" label="Ballerinas" disabled="true" checked="true" >
            <label for="Categoria3_Ballerinas" >Ballerinas</label>
        </div>
    </div>
    <div class="clearfix"></div>

   {% include 'common-filters-mujer.html' %}

</div>
{% end %}
