{% extends "./listado_productos.html" %}

{% block section_name %}
Botines Mujer
{% end %}

{% block tags %}Categoria2_Calzado_Mujer,-Categoria2_Calzado_Hombre{% end %}

{% block categories %}

<div>
    <div class="filters-container">
        <h4>TIPO DE CALZADO</h4>

        <div class="filter">
            <input id="Categoria3_Botines" class="checkbox-filter" type="checkbox" label="Botines" disabled="true" checked="true" >
            <label for="Categoria3_Botines" >Botines</label>
        </div>
    </div>
    <div class="clearfix"></div>

    {% include 'common-filters-mujer.html' %}
</div>
{% end %}
