<div class="filters-container">
    <h4>COLOR PRINCIPAL</h4>

    <div class="filter">
        <input id="Color_Azul" class="checkbox-filter" type="checkbox" label="Azul" >
        <label for="Color_Azul" >Azul</label>
    </div>
    <div class="filter">
        <input id="Color_Beige" class="checkbox-filter" type="checkbox" label="Beige" >
        <label for="Color_Beige" >Beige</label>
    </div>
    <div class="filter">
        <input id="Color_Cafe" class="checkbox-filter" type="checkbox" label="Cafe" >
        <label for="Color_Cafe" >Cafe</label>
    </div>
    <div class="filter">
        <input id="Color_Negro" class="checkbox-filter" type="checkbox" label="Negro" >
        <label for="Color_Negro" >Negro</label>
    </div>
    <div class="filter">
        <input id="Color_Burdeo" class="checkbox-filter" type="checkbox" label="Burdeo" >
        <label for="Color_Burdeo" >Burdeo</label>
    </div>
    <div class="filter">
        <input id="Color_Verde" class="checkbox-filter" type="checkbox" label="Verde" >
        <label for="Color_Verde" >Verde</label>
    </div>

</div>
<div class="clearfix"></div>

<div class="filters-container">
    <h4>MATERIAL DEL ZAPATO</h4>

    <div class="filter">
        <input id="Mat_Capellada_Cuero" class="checkbox-filter" type="checkbox" label="Cuero" >
        <label for="Mat_Capellada_Cuero" >Cuero</label>
    </div>
</div>
<div class="clearfix"></div>

<div class="filters-container">
    <h4>MARCA</h4>
    <div class="filter">
        <input id="Marca_Caffeine" class="checkbox-filter" type="checkbox" label="Cuero" >
        <label for="Marca_Caffeine" >Caffeine</label>
    </div>
    <div class="filter">
        <input id="Marca_Cocomate" class="checkbox-filter" type="checkbox" label="Cuero" >
        <label for="Marca_Cocomate" >Cocomate</label>
    </div>
    <div class="filter">
        <input id="Marca_Manzini" class="checkbox-filter" type="checkbox" label="Cuero" >
        <label for="Marca_Manzini" >Manzini</label>
    </div>
    <div class="filter">
        <input id="Marca_Tarragona" class="checkbox-filter" type="checkbox" label="Cuero" >
        <label for="Marca_Tarragona" >Tarragona</label>
    </div>
    <div class="clearfix"></div>
</div>
