<div class="filters-container">
    <h4>COLOR PRINCIPAL</h4>

    <div class="filter">
        <input id="Color_Azul" class="checkbox-filter" type="checkbox" label="Azul" >
        <label for="Color_Azul" >Azul</label>
    </div>
    <div class="filter">
        <input id="Color_Beige" class="checkbox-filter" type="checkbox" label="Beige" >
        <label for="Color_Beige" >Beige</label>
    </div>
    <div class="filter">
        <input id="Color_Blanco" class="checkbox-filter" type="checkbox" label="Blanco" >
        <label for="Color_Blanco" >Blanco</label>
    </div>
    <div class="filter">
        <input id="Color_Burdeo" class="checkbox-filter" type="checkbox" label="Burdeo" >
        <label for="Color_Burdeo" >Burdeo</label>
    </div>
    <div class="filter">
        <input id="Color_Cafe" class="checkbox-filter" type="checkbox" label="Cafe" >
        <label for="Color_Cafe" >Cafe</label>
    </div>
    <div class="filter">
        <input id="Color_Dorado" class="checkbox-filter" type="checkbox" label="Dorado" >
        <label for="Color_Dorado" >Dorado</label>
    </div>
    <div class="filter">
        <input id="Color_Gris" class="checkbox-filter" type="checkbox" label="Gris" >
        <label for="Color_Gris" >Gris</label>
    </div>
    <div class="filter">
        <input id="Color_Metalico" class="checkbox-filter" type="checkbox" label="Metalico" >
        <label for="Color_Metalico" >Metalico</label>
    </div>
    <div class="filter">
        <input id="Color_Negro" class="checkbox-filter" type="checkbox" label="Negro" >
        <label for="Color_Negro" >Negro</label>
    </div>
    <div class="filter">
        <input id="Color_Rojo" class="checkbox-filter" type="checkbox" label="Rojo" >
        <label for="Color_Rojo" >Rojo</label>
    </div>
    <div class="filter">
        <input id="Color_Verde" class="checkbox-filter" type="checkbox" label="Verde" >
        <label for="Color_Verde" >Verde</label>
    </div>
    <div class="filter">
        <input id="Color_Violeta" class="checkbox-filter" type="checkbox" label="Violeta" >
        <label for="Color_Violeta" >Violeta</label>
    </div>

</div>
<div class="clearfix"></div>

<div class="filters-container">
    <h4>MATERIAL DEL ZAPATO</h4>
    <div class="filter">
        <input id="Mat_Capellada_Cuero" class="checkbox-filter" type="checkbox" label="Cuero">
        <label for="Mat_Capellada_Cuero" >Cuero</label>
    </div>
    <div class="filter">
        <input id="Mat_Capellada_Eco_Cuero" class="checkbox-filter" type="checkbox" label="Eco Cuero">
        <label for="Mat_Capellada_Eco_Cuero" >Eco Cuero</label>
    </div>
</div>

<div class="filters-container">
    <h4>MARCA</h4>
    <div class="filter">
        <input id="Marca_Degas" class="checkbox-filter" type="checkbox" label="Degas">
        <label for="Marca_Degas" >Degas</label>
    </div>
    <div class="filter">
        <input id="Marca_Eda_Manzini" class="checkbox-filter" type="checkbox" label="Eda Manzini">
        <label for="Marca_Eda_Manzini" >Eda Manzini</label>
    </div>
    <div class="filter">
        <input id="Marca_Lola_Canales" class="checkbox-filter" type="checkbox" label="Lola Canales">
        <label for="Marca_Lola_Canales" >Lola Canales</label>
    </div>
</div>
<div class="clearfix"></div>

<div class="filters-container">
    <h4>OCASIÓN</h4>
    <div class="filter">
        <input id="Categoria4_Casuales" class="checkbox-filter" type="checkbox" label="Casuales">
        <label for="Categoria4_Casuales" >Casuales</label>
    </div>
    <div class="filter">
        <input id="Categoria4_Confort" class="checkbox-filter" type="checkbox" label="Confort">
        <label for="Categoria4_Confort" >Confort</label>
    </div>
    <div class="filter">
        <input id="Categoria4_Fiesta_Vestir" class="checkbox-filter" type="checkbox" label="Vestir / Fiesta">
        <label for="Categoria4_Fiesta_Vestir" >Vestir / Fiesta</label>
    </div>
</div>
<div class="clearfix"></div>
