{% extends "./principal.html" %}

{% block section_name %}
Formales Hombre
{% end %}

{% block tags %}Categoria2_Calzado_Hombre,-Categoria2_Calzado_Mujer{% end %}

{% block categories %}

<div>
   <div class="text-fil-2"> TIPO DE CALZADO </div>
     <form action="/action_page.php" class="chek">
         <div class="filtro-filtros">
           <input type="checkbox" class="categ desk-filter c-Categoria3_Formales" name="vehicle" tag="Categoria3_Formales" value="Boat" value2="Formales" disabled="true" checked="true"> 
           <div class="fil h-Categoria3_Formales" >Formales</div>
         </div>
     </form>

     <div class="clearfix"></div>

     <div class="text-fil"> COLOR PRINCIPAL  </div>
       <div>
     <form action="/action_page.php" class="chek">
       <div class="filtro-color">
         <input type="checkbox" name="color" class="categ desk-filter c-Color_Azul" tag="Color_Azul" value2="Azul">
         <div class="fil h-Color_Azul" >Azul</div>
       </div>
       <div class="filtro-color">
          <input type="checkbox" name="color" class="categ desk-filter c-Color_Beige" tag="Color_Beige" value2="Beige">
          <div class="fil h-Color_Beige" >Beige</div>
       </div>
       <div class="filtro-color">
          <input type="checkbox" name="color" class="categ desk-filter c-Color_Cafe" value2="Café" tag="Color_Cafe">
          <div class="fil h-Color_Cafe" >Cafe</div>
       </div>
       <div class="filtro-color">
          <input type="checkbox" name="color" class="categ desk-filter c-Color_Negro" tag="Color_Negro" value2="Negro">
          <div class="fil h-Color_Negro" >Negro</div>
       </div>
        <div class="filtro-color">
          <input type="checkbox" name="color" class="categ desk-filter c-Color_Burdeo" tag="Color_Burdeo" value2="Burdeo">
          <div class="fil h-Color_Burdeo" >Burdeo</div>
       </div>
       <div class="filtro-color">
          <input type="checkbox" name="color" class="categ desk-filter c-Color_Verde" tag="Color_Verde" value2="Verde">
          <div class="fil h-Color_Verde" >Verde</div>
        </div>
     </form>
     <div class="clearfix"></div>
    <div class="text-fil"> MATERIAL DEL ZAPATO </div>
     <form action="/action_page.php" class="chek">
         <div class="filtro-talla">
           <input type="checkbox" class="categ desk-filter c-Mat_Capellada_Cuero" name="material" tag="Mat_Capellada_Cuero" value2="Cuero" value="Bike">
           <div class="fil h-Mat_Capellada_Cuero" > Cuero </div>
         </div>
     </form>

     <div class="clearfix"></div>

     <div class="text-fil"> MARCA </div>
     <form action="/action_page.php" class="chek">
         <div class="filtro-marca">
           <input type="checkbox" class="categ desk-filter c-Marca_Caffeine" name="marca" tag="Marca_Caffeine" value2="Caffeine">
           <div class="fil h-Caffeine" >Caffeine</div>
          <i class="fa fa-check-square ch-Caffeine hidden" aria-hidden="true" onclick="uncheck('Caffeine')"></i>
          </div>
         <div class="filtro-marca">
           <input type="checkbox" class="categ desk-filter c-Marca_Cocomate" name="marca" tag="Marca_Cocomate" value2="Cocomate">
           <div class="fil h-Cocomate" >Cocomate</div>
          </div>

         <div class="filtro-marca">
           <input type="checkbox" class="categ desk-filter c-Marca_Manzini" name="marca" tag="Marca_Manzini" value2="Manzini">
           <div class="fil h-Manzini" >Manzini</div>
          </div>
           <div class="filtro-marca">
           <input type="checkbox" class="categ desk-filter c-Marca_Tarragona" name="marca" tag="Marca_Tarragona" value2="Tarragona">
           <div class="fil h-Tarragona" >Tarragona</div>
          </div>
     </form>
</div>

{% end %}
