{% extends "./listado_productos_hombre.html" %}

{% block section_name %}
Formales Hombre
{% end %}

{% block tags %}Categoria2_Calzado_Hombre,-Categoria2_Calzado_Mujer,Categoria3_Formales{% end %}

{% block categories %}

<div>

    <div class="filters-container">
        <h4>TIPO DE CALZADO</h4>

        <div class="filter">
            <input id="Categoria3_Formales" class="checkbox-filter" type="checkbox" label="Formales" disabled="true" checked="true" >
            <label for="Categoria3_Formales">Formales</label>
        </div>
    </div>
    <div class="clearfix"></div>

    {% include 'common-filters-hombre.html' %}
</div>
{% end %}
