{% extends "./listado_productos.html" %}

{% block dropdown-filters-header %}
    <a href="#!" class="dropdown-filter-header" target="dropwdown-filter-talla" >Tallas Disponibles</a>
{% end %}
{% block dropdown-filters %}
    <div class="col-md-12 dropdown-filter">
        <div class="dropwdown-filter-talla hidden">
            <div class="filter">
                <input id="Talla_39" class="checkbox-filter" type="checkbox" label="39">
                <label for="Talla_39" >39</label>
            </div>
            <div class="filter">
                <input id="Talla_40" class="checkbox-filter" type="checkbox" label="40">
                <label for="Talla_40" >40</label>
            </div>
            <div class="filter">
                <input id="Talla_41" class="checkbox-filter" type="checkbox" label="41">
                <label for="Talla_41" >41</label>
            </div>
            <div class="filter">
                <input id="Talla_42" class="checkbox-filter" type="checkbox" label="42">
                <label for="Talla_42" >42</label>
            </div>
            <div class="filter">
                <input id="Talla_43" class="checkbox-filter" type="checkbox" label="43">
                <label for="Talla_43" >43</label>
            </div>
            <div class="filter">
                <input id="Talla_44" class="checkbox-filter" type="checkbox" label="44">
                <label for="Talla_44" >44</label>
            </div>
            <div class="filter">
                <input id="Talla_45" class="checkbox-filter" type="checkbox" label="45">
                <label for="Talla_45" >45</label>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
{% end %}
