{% extends "../base.html" %}

{% block title %}{{ site.name }}{% end %}
{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
{% end %}

{% block javascript %}
<script type="text/javascript">
window.default_tags = "{% block tags %}{% end %}".split(",");
</script>
<script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/main.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
    $('.btn-primary.header').click(function(event)
    {
        $(this).next().stop().slideToggle();
        return false;
    });

    // EXCLUSIVO PARA PLACARE
    $("title").html("Placare - Listado de productos");
    $("meta[name=description]").attr("content", "");

    $(document).on("click", ".background-color-producto", function()
    {
        $(this).css("border", "black solid 2px");
    });

    $(document).on("click", ".categ", function(ev)
    {
        $(".subcateg").removeClass('active');
        $(this).addClass('active');
    });

    var hyper2 = Utils.getUrlParameter('search_query');

    if (hyper2 != undefined)
    {
        $(".tag-header").html("Resultados");
    }

    var hyper = "";

    if (Utils.getUrlParameter('tag') !== undefined)
    {
        Utils.getUrlParameter('tag').split(',');
    }

    if (hyper[0] == "Categoria2_Calzado_Mujer")
    {
        $(".tag-header").html("Mujeres");
    }

    if (hyper[0] == "Categoria2_Calzado_Hombre")
    {
        $(".tag-header").html("Hombres");
    }

    if (hyper[0] == "nino")
    {
        $(".tag-header").html("Niños");
    }

    if (hyper[0] == "oferta") {
        $(".tag-header").html("Oferta");
    }

    setTimeout(function()
    {
        if (scroll > 794)
        {
            $(".more-products").click();
        }
    }, 2000);

    $(document).on("click", ".boton-news", function()
    {
        $(this).html("ESPERE");
        if ($(this).hasClass("sus"))
        {
            $("input[name=SingleLine]").val("Mujer");
        }

        if ($(this).hasClass("sus-h"))
        {
            $("input[name=SingleLine]").val("Hombre");
        }
    });

    $('#formid').on('keyup keypress', function(e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13)
        {
            e.preventDefault();
            return false;
        }
    });

});

$("#testButton").live("touchstart", function()
{
    $(this).addClass("active");
}).live("touchend", function()
{
    $(this).removeClass("active");
});

$("#menu-toggle").click(function(e)
{
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
{% end %}

{% block body %}

{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}
<!-- *contenido* -->

<body>
    <section>
        <div class="container min">
            <div class="row col-side-padding">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="texto-header-pro hidden-xs texto-ruta"> Home </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pinner">
        <div class="container min dos">
            <div class="row col-side-padding">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <section class="h_submenu hidden-xs visible-md visible-sm visible-lg" id="menu-fixed">
                        <div class="">
                            {% block categories %}
                                <div>
                                    <div class="filters-container">
                                        <h4>TIPO DE CALZADO</h4>
                                        <div class="filter">
                                            <input id="Categoria3_Ballerinas" class="checkbox-filter" type="checkbox" label="Ballerinas" >
                                            <label for="Categoria3_Ballerinas" >Ballerinas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Botas" class="checkbox-filter" type="checkbox" label="Botas" >
                                            <label for="Categoria3_Botas" >Botas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Botines" class="checkbox-filter" type="checkbox" label="Botines" >
                                            <label for="Categoria3_Botines" >Botines</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Casuales" class="checkbox-filter" type="checkbox" label="Casuales" >
                                            <label for="Categoria3_Casuales" >Casuales</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Zapatos_de_Vestir_Fiesta" class="checkbox-filter" type="checkbox" label="Fiesta / Vestir" >
                                            <label for="Categoria3_Zapatos_de_Vestir_Fiesta" >Fiesta / Vestir</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Mocasines" class="checkbox-filter" type="checkbox" label="Mocasines" >
                                            <label for="Categoria3_Mocasines" >Mocasines</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Mules" class="checkbox-filter" type="checkbox" label="Mules / Slippers" >
                                            <label for="Categoria3_Mules" >Mules / Slippers</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Oxford" class="checkbox-filter" type="checkbox" label="Oxford" >
                                            <label for="Categoria3_Oxford" >Oxford</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Plataformas" class="checkbox-filter" type="checkbox" label="Plataformas" >
                                            <label for="Categoria3_Plataformas" >Plataformas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Playeras" class="checkbox-filter" type="checkbox" label="Playeras" >
                                            <label for="Categoria3_Playeras" >Playeras</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Sandalias" class="checkbox-filter" type="checkbox" label="Sandalias" >
                                            <label for="Categoria3_Sandalias" >Sandalias</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% include 'common-filters-mujer.html' %}
                                </div>
                            {% end %}
                        </div>
                    </section>
                </div>
                <section>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div>
                            <div class="texto-header-pro-2 tag-header">{% block section_name %}Mujeres{% end %}</div>
                            <div class="texto-header-pro-3 tag-header2"></div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ordenar por:
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#!" class="sort-by" field="main_price" dir="desc" >Precio: Mayor a menor</a></li>
                                    <li><a href="#!" class="sort-by" field="main_price" dir="asc" >Precio: Menor a mayor</a></li>
                                    <li><a href="#!" class="sort-by" field="name" dir="toggle" >Nombre</a></li>
                                    <li><a href="#!" class="sort-by" field="random" dir="asc">Aleatorio</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="filters-breadcrumb hidden-xs">
                        </div>
                        <div class="clearfix"></div>
                        <div class="row fiters-wrap">
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                {% block dropdown-filters-header %}
                                <a href="#!" class="dropdown-filter-header" target="dropwdown-filter-talla" >Tallas Disponibles</a>
                                <a href="#!" class="dropdown-filter-header" target="dropwdown-filter-taco" >Tipo de Taco</a>
                                <a href="#!" class="dropdown-filter-header" target="dropwdown-filter-altura" >Altura Taco</a>
                                <a href="#!" class="dropdown-filter-header" target="dropwdown-filter-plataforma" >Altura Plataforma </a>
                                {% end %}
                            </div>
                            <div class="col-md-2">
                                <a href="#!" class="limpiar hidden-xs hidden-sm">
                                    LIMPIAR TODO
                                </a>
                            </div>
                            {% block dropdown-filters %}
                            <div class="col-md-12 dropdown-filter">
                                <div class="dropwdown-filter-talla hidden">
                                    <div class="filter">
                                        <input id="Talla_35" class="checkbox-filter" type="checkbox" label="35">
                                        <label for="Talla_35" >35</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Talla_36" class="checkbox-filter" type="checkbox" label="36">
                                        <label for="Talla_36" >36</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Talla_37" class="checkbox-filter" type="checkbox" label="37">
                                        <label for="Talla_37" >37</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Talla_38" class="checkbox-filter" type="checkbox" label="38">
                                        <label for="Talla_38" >38</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Talla_39" class="checkbox-filter" type="checkbox" label="39">
                                        <label for="Talla_39" >39</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Talla_40" class="checkbox-filter" type="checkbox" label="40">
                                        <label for="Talla_40" >40</label>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="dropwdown-filter-taco hidden">
                                    <div class="filter">
                                        <input id="Platform_0_3" class="checkbox-filter" type="checkbox" label="0.3cms">
                                        <label for="Platform_0_3" >0.3cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_0_5" class="checkbox-filter" type="checkbox" label="0.5cms">
                                        <label for="Platform_0_5" >0.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_0_7" class="checkbox-filter" type="checkbox" label="0.7cms">
                                        <label for="Platform_0_7" >0.7cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_1_0" class="checkbox-filter" type="checkbox" label="1cms">
                                        <label for="Platform_1_0" >1cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_1_2" class="checkbox-filter" type="checkbox" label="1.2cms">
                                        <label for="Platform_1_2" >1.2cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_1_5" class="checkbox-filter" type="checkbox" label="1.5cms">
                                        <label for="Platform_1_5" >1.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_2_0" class="checkbox-filter" type="checkbox" label="2cms">
                                        <label for="Platform_2_0" >2cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_2_5" class="checkbox-filter" type="checkbox" label="2.5cms">
                                        <label for="Platform_2_5" >2.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_3_0" class="checkbox-filter" type="checkbox" label="3cms">
                                        <label for="Platform_3_0" >3cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Plataform_35" class="checkbox-filter" type="checkbox" label="3.5cms">
                                        <label for="Plataform_35" >3.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_4_0" class="checkbox-filter" type="checkbox" label="4cms">
                                        <label for="Platform_4_0" >4cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Platform_4_5" class="checkbox-filter" type="checkbox" label="4.5cms">
                                        <label for="Platform_4_5" >4.5cms</label>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="dropwdown-filter-altura hidden">
                                    <div class="filter">
                                        <input id="Forma_Taco_Alto" class="checkbox-filter" type="checkbox" label="Alto">
                                        <label for="Forma_Taco_Alto" >Alto</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Forma_Taco_Bajo" class="checkbox-filter" type="checkbox" label="Bajo">
                                        <label for="Forma_Taco_Bajo" >Bajo</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Forma_Taco_Chino" class="checkbox-filter" type="checkbox" label="Chino">
                                        <label for="Forma_Taco_Chino" >Chino</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Forma_Taco_Medio" class="checkbox-filter" type="checkbox" label="Medio">
                                        <label for="Forma_Taco_Medio" >Medio</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Forma_Taco_Plano" class="checkbox-filter" type="checkbox" label="Plano">
                                        <label for="Forma_Taco_Plano" >Plano</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Forma_Taco_Tacon" class="checkbox-filter" type="checkbox" label="Tacón">
                                        <label for="Forma_Taco_Tacon" >Tacón</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Forma_Taco_Terraplen" class="checkbox-filter" type="checkbox" label="Terraplén">
                                        <label for="Forma_Taco_Terraplen" >Terraplén</label>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="dropwdown-filter-plataforma hidden">
                                    <div class="filter">
                                        <input id="Taco_1_5" class="checkbox-filter" type="checkbox" label="1.5cms">
                                        <label for="Taco_1_5" >1.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_2_0" class="checkbox-filter" type="checkbox" label="2cms">
                                        <label for="Taco_2_0" >2cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_2_5" class="checkbox-filter" type="checkbox" label="2.5cms">
                                        <label for="Taco_2_5" >2.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_3_0" class="checkbox-filter" type="checkbox" label="3cms">
                                        <label for="Taco_3_0" >3cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_3_5" class="checkbox-filter" type="checkbox" label="3.5cms">
                                        <label for="Taco_3_5" >3.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_4_0" class="checkbox-filter" type="checkbox" label="4cms">
                                        <label for="Taco_4_0" >4cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_4_5" class="checkbox-filter" type="checkbox" label="4.5cms">
                                        <label for="Taco_4_5" >4.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_5_0" class="checkbox-filter" type="checkbox" label="5cms">
                                        <label for="Taco_5_0" >5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_5_5" class="checkbox-filter" type="checkbox" label="5.5cms">
                                        <label for="Taco_5_5" >5.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_6_0" class="checkbox-filter" type="checkbox" label="6cms">
                                        <label for="Taco_6_0" >6cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_6_5" class="checkbox-filter" type="checkbox" label="6.5cms">
                                        <label for="Taco_6_5" >6.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_7_0" class="checkbox-filter" type="checkbox" label="7cms">
                                        <label for="Taco_7_0" >7cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_7_5" class="checkbox-filter" type="checkbox" label="7.5cms">
                                        <label for="Taco_7_5" >7.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_8_0" class="checkbox-filter" type="checkbox" label="8cms">
                                        <label for="Taco_8_0" >8cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_8_5" class="checkbox-filter" type="checkbox" label="8.5cms">
                                        <label for="Taco_8_5" >8.5cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_9_0" class="checkbox-filter" type="checkbox" label="9cms">
                                        <label for="Taco_9_0" >9cms</label>
                                    </div>
                                    <div class="filter">
                                        <input id="Taco_9_5" class="checkbox-filter" type="checkbox" label="9.5cms">
                                        <label for="Taco_9_5" >9.5cms</label>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            {% end %}
                        </div>
                    </div>
                </section>
                <!-- *****fin filtros DESKTOP**** -->
                <!-- ******principio filtros MOVIL**** -->
                <div class="col-xs-12 hidden-md hidden-lg hidden-sm visible-xs">
                    <div class="fixx">
                        <button class="btn btn-primary btn-mo dropdown-toggle" type="button" data-toggle="modal" data-target="#myModal-orde">
                            Ordenar por:
                            <span class="caret"></span>
                        </button>
                        <div class="palito"> </div>
                        <button class="btn btn-primary  dropdown-toggle" type="button" data-toggle="modal" data-target="#myModal-fil">
                            Filtrar por:
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="" style=""></div>
                    <hr class="listado">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="products row"></div>
                    <div class="col-xs-12">
                        <div align="center">
                            <a class="link-recargar hidden limpiar">Reanudar Busqueda</a>
                            <button type="button" class="btn btn-default more-products" style="display: none">CARGAR MÁS PRODUCTOS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container min">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bre {{editabletext}}" text-id="{{ site.name + '_pre_footer_ex_1110' }}">
                    {{ read_text(site.name + '_pre_footer_ex_1110') }}
                </div>
                <div class="bre {{editabletext}}" text-id="{{ site.name + '_pre_footer_ber9' }}">
                    {{ read_text(site.name + '_pre_footer_ber9') }}
                </div>
            </div>
        </div>
    </div>
</body>
{% include '../home/footer.html' %}
{% end %}
