{% extends "../base.html" %}

{% block title %}{{ site.name }}{% end %}
{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
{% end %}

{% block javascript %}
<script type="text/javascript">
window.url_tags = "{% block tags %}{% end %}";
</script>
<script type="text/javascript" src="{{ site_base }}/static/js/main.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
    $('.btn-primary.header').click(function(event)
    {
        $(this).next().stop().slideToggle();
        return false;
    });

    // EXCLUSIVO PARA PLACARE
    $("title").html("Placare - Listado de productos");
    $("meta[name=description]").attr("content", "");

    $(document).on("click", ".background-color-producto", function()
    {
        $(this).css("border", "black solid 2px");
    });

    $(document).on("click", ".categ", function(ev)
    {
        $(".subcateg").removeClass('active');
        $(this).addClass('active');
    });

    var hyper2 = Utils.getUrlParameter('search_query');

    if (hyper2 != undefined)
    {
        $(".tag-header").html("Resultados");
    }

    var hyper = "";

    if (Utils.getUrlParameter('tag') !== undefined)
    {
        Utils.getUrlParameter('tag').split(',');
    }

    if (hyper[0] == "Categoria2_Calzado_Mujer")
    {
        $(".tag-header").html("Mujeres");
    }

    if (hyper[0] == "Categoria2_Calzado_Hombre")
    {
        $(".tag-header").html("Hombres");
    }

    if (hyper[0] == "nino")
    {
        $(".tag-header").html("Niños");
    }

    if (hyper[0] == "oferta") {
        $(".tag-header").html("Oferta");
    }

    setTimeout(function()
    {
        if (scroll > 794)
        {
            $(".more-products").click();
        }
    }, 2000);

    $(document).on("click", ".boton-news", function()
    {
        $(this).html("ESPERE");
        if ($(this).hasClass("sus"))
        {
            $("input[name=SingleLine]").val("Mujer");
        }

        if ($(this).hasClass("sus-h"))
        {
            $("input[name=SingleLine]").val("Hombre");
        }
    });

    $('#formid').on('keyup keypress', function(e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13)
        {
            e.preventDefault();
            return false;
        }
    });

});

$("#testButton").live("touchstart", function()
{
    $(this).addClass("active");
}).live("touchend", function()
{
    $(this).removeClass("active");
});

$("#menu-toggle").click(function(e)
{
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
{% end %}

{% block body %}

{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}
<!-- *contenido* -->

<body id="lapimport" class="">
    <section>
        <div class="container min">
            <div class="row col-side-padding">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="texto-header-pro hidden-xs texto-ruta"> Home </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pinner">
        <div class="container min dos">
            <div class="row col-side-padding">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <section class="h_submenu hidden-xs visible-md visible-sm visible-lg" id="menu-fixed">
                        <div class="">
                            {% block categories %}
                                <div>
                                    <div class="filters-container">
                                        <h4>TIPO DE CALZADO</h4>
                                        <div class="filter">
                                            <input id="Categoria3_Ballerinas" class="checkbox-filter" type="checkbox" label="Ballerinas" >
                                            <label for="Categoria3_Ballerinas" >Ballerinas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Botas" class="checkbox-filter" type="checkbox" label="Botas" >
                                            <label for="Categoria3_Botas" >Botas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Botines" class="checkbox-filter" type="checkbox" label="Botines" >
                                            <label for="Categoria3_Botines" >Botines</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Casuales" class="checkbox-filter" type="checkbox" label="Casuales" >
                                            <label for="Categoria3_Casuales" >Casuales</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Zapatos_de_Vestir_Fiesta" class="checkbox-filter" type="checkbox" label="Fiesta / Vestir" >
                                            <label for="Categoria3_Zapatos_de_Vestir_Fiesta" >Fiesta / Vestir</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Mocasines" class="checkbox-filter" type="checkbox" label="Mocasines" >
                                            <label for="Categoria3_Mocasines" >Mocasines</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Mules" class="checkbox-filter" type="checkbox" label="Mules / Slippers" >
                                            <label for="Categoria3_Mules" >Mules / Slippers</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Oxford" class="checkbox-filter" type="checkbox" label="Oxford" >
                                            <label for="Categoria3_Oxford" >Oxford</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Plataformas" class="checkbox-filter" type="checkbox" label="Plataformas" >
                                            <label for="Categoria3_Plataformas" >Plataformas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Playeras" class="checkbox-filter" type="checkbox" label="Playeras" >
                                            <label for="Categoria3_Playeras" >Playeras</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria3_Sandalias" class="checkbox-filter" type="checkbox" label="Sandalias" >
                                            <label for="Categoria3_Sandalias" >Sandalias</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="filters-container">
                                        <h4>COLOR PRINCIPAL</h4>
                                        <div class="filter">
                                            <input id="Color_Azul" class="checkbox-filter" type="checkbox" label="Azul">
                                            <label for="Color_Azul" >Azul</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Beige" class="checkbox-filter" type="checkbox" label="Beige">
                                            <label for="Color_Beige" >Beige</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Blanco" class="checkbox-filter" type="checkbox" label="Blanco">
                                            <label for="Color_Blanco" >Blanco</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Burdeo" class="checkbox-filter" type="checkbox" label="Burdeo">
                                            <label for="Color_Burdeo" >Burdeo</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Cafe" class="checkbox-filter" type="checkbox" label="Café">
                                            <label for="Color_Cafe" >Café</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Dorado" class="checkbox-filter" type="checkbox" label="Dorado">
                                            <label for="Color_Dorado" >Dorado</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Gris" class="checkbox-filter" type="checkbox" label="Gris">
                                            <label for="Color_Gris" >Gris</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Metalico" class="checkbox-filter" type="checkbox" label="Metálico">
                                            <label for="Color_Metalico" >Metálico</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Negro" class="checkbox-filter" type="checkbox" label="Negro">
                                            <label for="Color_Negro" >Negro</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Rojo" class="checkbox-filter" type="checkbox" label="Rojo">
                                            <label for="Color_Rojo" >Rojo</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Verde" class="checkbox-filter" type="checkbox" label="Verde">
                                            <label for="Color_Verde" >Verde</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Color_Violeta" class="checkbox-filter" type="checkbox" label="Violeta">
                                            <label for="Color_Violeta" >Violeta</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="filters-container">
                                        <h4>MATERIAL DEL ZAPATO</h4>
                                        <div class="filter">
                                            <input id="Mat_Capellada_Cuero" class="checkbox-filter" type="checkbox" label="Cuero">
                                            <label for="Mat_Capellada_Cuero" >Cuero</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Mat_Capellada_Eco_Cuero" class="checkbox-filter" type="checkbox" label="Eco Cuero">
                                            <label for="Mat_Capellada_Eco_Cuero" >Eco Cuero</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="filters-container">
                                        <h4>MARCA</h4>
                                        <div class="filter">
                                            <input id="Marca_Degas" class="checkbox-filter" type="checkbox" label="Degas">
                                            <label for="Marca_Degas" >Degas</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Marca_Eda_Manzini" class="checkbox-filter" type="checkbox" label="Eda Manzini">
                                            <label for="Marca_Eda_Manzini" >Eda Manzini</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Marca_Lola_Canales" class="checkbox-filter" type="checkbox" label="Lola Canales">
                                            <label for="Marca_Lola_Canales" >Lola Canales</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="filters-container">
                                        <h4>OCASIÓN</h4>
                                        <div class="filter">
                                            <input id="Categoria4_Casuales" class="checkbox-filter" type="checkbox" label="Casuales">
                                            <label for="Categoria4_Casuales" >Casuales</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria4_Confort" class="checkbox-filter" type="checkbox" label="Confort">
                                            <label for="Categoria4_Confort" >Confort</label>
                                        </div>
                                        <div class="filter">
                                            <input id="Categoria4_Fiesta_Vestir" class="checkbox-filter" type="checkbox" label="Vestir / Fiesta">
                                            <label for="Categoria4_Fiesta_Vestir" >Vestir / Fiesta</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            {% end %}
                        </div>
                    </section>
                </div>
                <section>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div>
                            <div class="texto-header-pro-2 tag-header">{% block section_name %}Mujeres{% end %}</div>
                            <div class="texto-header-pro-3 tag-header2"></div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ordenar por:
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#!" class="mayor">Precio: Mayor a menor</a></li>
                                    <li><a href="#!" class="menor">Precio: Menor a mayor</a></li>
                                    <li><a href="#!" class="nombre">Nombre</a></li>
                                    <li><a href="#!" class="aleatorio">Aleatorio</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="filters-breadcrumb hidden-xs">
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="limpiar  hidden-xs hidden-sm">
                                    LIMPIAR TODO
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 kinti">
                                <a href="#!" class="variables1" tag="variable_1">Tallas Disponibles </a>
                                <a class=""> &nbsp &nbsp &nbsp</a>
                                <a href="#!" class="variables3" tag="variable_3">Tipo de Taco</a>
                                <a class=""> &nbsp &nbsp &nbsp</a>
                                <a href="#!" class="variables4" tag="variable_4">Altura Taco</a>
                                <a class=""> &nbsp &nbsp &nbsp</a>
                                <a href="#!" class="variables2" tag="variable_2">Altura Plataforma </a>
                            </div>
                        </div>
                        <form action="/action_page.php" class="">
                            <div class="col-md-12 col-sm-12 col-xs-12 vari">
                                <div class="filtro-talla c-variable_1">
                                    <label class="hidden c-variable_1">
                                        <input class="hidden categ desk-filter c-variable_1 c-Talla_35" type="checkbox" name="talla" tag="Talla_35" value2="35">35
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_1">
                                    <label class="hidden c-variable_1">
                                        <input class="hidden categ desk-filter c-variable_1 c-Talla_36" type="checkbox" name="talla" tag="Talla_36" value2="36">36
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_1">
                                    <label class="hidden c-variable_1">
                                        <input class="hidden categ desk-filter c-variable_1 c-Talla_37" type="checkbox" name="talla" tag="Talla_37" value2="37">37
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_1">
                                    <label class="hidden c-variable_1">
                                        <input class="hidden categ desk-filter c-variable_1 c-Talla_38" type="checkbox" name="talla" tag="Talla_38" value2="38">38
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_1">
                                    <label class="hidden c-variable_1">
                                        <input class="hidden categ desk-filter c-variable_1 c-Talla_39" type="checkbox" name="talla" tag="Talla_39" value2="39">39
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_1">
                                    <label class="hidden c-variable_1">
                                        <input class="hidden categ desk-filter c-variable_1 c-Talla_40" type="checkbox" name="talla" tag="Talla_40" value2="40">40
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_0_3" type="checkbox" name="alt_plat" tag="Platform_0_3" value2="0.3">0.3cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_0_5" type="checkbox" name="alt_plat" tag="Platform_0_5" value2="0.5">0.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_0_7" type="checkbox" name="alt_plat" tag="Platform_0_7" value2="0.7">0.7cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_1_0" type="checkbox" name="alt_plat" tag="Platform_1_0" value2="1">1cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_1_2" type="checkbox" name="alt_plat" tag="Platform_1_2" value2="1.2">1.2cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_1_5" type="checkbox" name="alt_plat" tag="Platform_1_5" value2="1.5"> 1.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_2_0" type="checkbox" name="alt_plat" tag="Platform_2_0" value2="2"> 2cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_2_5" type="checkbox" name="alt_plat" tag="Platform_2_5" value2="2.5"> 2.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_3_0" type="checkbox" name="alt_plat" tag="Platform_3_0" value2="3">3cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Plataform_35" type="checkbox" name="alt_plat" tag="Platform_3_5" value2="3.5">3.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_4_0" type="checkbox" name="alt_plat" tag="Platform_4_0" value2="4">4cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_2">
                                    <label class="hidden c-variable_2">
                                        <input class="hidden categ desk-filter c-variable_2 c-Platform_4_5" type="checkbox" name="alt_plat" tag="Platform_4_5" value2="4.5">4.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Alto" type="checkbox" name="taco" value2="alto" tag="Forma_Taco_Alto">Alto
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Bajo" type="checkbox" name="taco" value2="bajo" tag="Forma_Taco_Bajo">Bajo
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Chino" type="checkbox" name="taco" value2="chino" tag="Forma_Taco_Chino">Chino
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Medio" type="checkbox" name="taco" value2="Medio" tag="Forma_Taco_Medio">Medio
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Plano" type="checkbox" name="taco" value2="Plano" tag="Forma_Taco_Plano">Plano
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Tacon" type="checkbox" name="taco" value2="Tacon" tag="Forma_Taco_Tacon">Tacón
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_3">
                                    <label class="hidden c-variable_3">
                                        <input class="hidden categ desk-filter c-variable_3 c-Forma_Taco_Terraplen" type="checkbox" name="taco" value2="Terraplen" tag="Forma_Taco_Terraplen">Terraplén
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_1_5" type="checkbox" name="alt_taco" tag="Taco_1_5" value2="1.5">1.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_2_0" type="checkbox" name="alt_taco" tag="Taco_2_0" value2="2">2cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_2_5" type="checkbox" name="alt_taco" tag="Taco_2_5" value2="2.5">2.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_3_0" type="checkbox" name="alt_taco" tag="Taco_3_0" value2="3">3cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_3_5" type="checkbox" name="alt_taco" tag="Taco_3_5" value2="3.5">3.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_4_0" type="checkbox" name="alt_taco" tag="Taco_4_0" value2="4">4cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_4_5" type="checkbox" name="alt_taco" tag="Taco_4_5" value2="4.5">4.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_5_0" type="checkbox" name="alt_taco" tag="Taco_5_0" value2="5">5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_5_5" type="checkbox" name="alt_taco" tag="Taco_5_5" value2="5.5">5.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_6_0" type="checkbox" name="alt_taco" tag="Taco_6_0" value2="6">6cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_6_5" type="checkbox" name="alt_taco" tag="Taco_6_5" value2="6.5">6.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_7_0" type="checkbox" name="alt_taco" tag="Taco_7_0" value2="7">7cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_7_5" type="checkbox" name="alt_taco" tag="Taco_7_5" value2="7.5">7.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_8_0" type="checkbox" name="alt_taco" tag="Taco_8_0" value2="8">8cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_8_5" type="checkbox" name="alt_taco" tag="Taco_8_5" value2="8.5">8.5cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_9_0" type="checkbox" name="alt_taco" tag="Taco_9_0" value2="9">9cms
                                    </label>
                                </div>
                                <div class="filtro-talla c-variable_4">
                                    <label class="hidden c-variable_4">
                                        <input class="hidden categ desk-filter c-variable_4 c-Taco_9_5" type="checkbox" name="alt_taco" tag="Taco_9_5" value2="9.5">9.5cms
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <!-- *****fin filtros DESKTOP**** -->
                <!-- ******principio filtros MOVIL**** -->
                <div class="col-xs-12 hidden-md hidden-lg hidden-sm visible-xs">
                    <div class="fixx">
                        <button class="btn btn-primary btn-mo dropdown-toggle" type="button" data-toggle="modal" data-target="#myModal-orde">
                            Ordenar por:
                            <span class="caret"></span>
                        </button>
                        <div class="palito"> </div>
                        <button class="btn btn-primary  dropdown-toggle" type="button" data-toggle="modal" data-target="#myModal-fil">
                            Filtrar por:
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="" style=""></div>
                    <hr class="listado">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="products row"></div>
                    <div class="col-xs-12">
                        <div align="center">
                            <a class="link-recargar hidden limpiar">Reanudar Busqueda</a>
                            <button type="button" class="btn btn-default more-products" style="display: none">CARGAR MÁS PRODUCTOS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container min">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bre {{editabletext}}" text-id="{{ site.name + '_pre_footer_ex_1110' }}">
                    {{ read_text(site.name + '_pre_footer_ex_1110') }}
                </div>
                <div class="bre {{editabletext}}" text-id="{{ site.name + '_pre_footer_ber9' }}">
                    {{ read_text(site.name + '_pre_footer_ber9') }}
                </div>
            </div>
        </div>
    </div>
</body>
{% include '../home/footer.html' %}
{% end %}
