{% extends “./principal.html” %}
{% block color %}

<div class="filtro-color">
  <input type="checkbox" name="color" class="categ desk-filter c-Color_Azul" tag="Color_Azul" value2="Azul">
  <div class="fil h-Color_Azul" >Azul</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Beige" tag="Color_Beige" value2="Beige">
   <div class="fil h-Color_Beige" >Beige</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Blanco" tag="Color_Blanco" value2="Blanco">
   <div class="fil h-Color_Blanco" >Blanco</div>
</div>
 <div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Burdeo" tag="Color_Burdeo" value2="Burdeo">
   <div class="fil h-Color_Burdeo" >Burdeo</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Cafe" value2="Café" tag="Color_Cafe">
   <div class="fil h-Color_Cafe" >Cafe</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Dorado" tag="Color_Dorado" value2="Dorado">
   <div class="fil h-Color_Dorado" >Dorado</div>
 </div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Gris" tag="Color_Gris" value2="Gris">
   <div class="fil h-Color_Gris" >Gris</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Metalico" tag="Color_Metalico" value2="Metálico">
   <div class="fil h-Color_Metalico" >Metalico</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Negro" tag="Color_Negro" value2="Negro">
   <div class="fil h-Color_Negro" >Negro</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Rojo" tag="Color_Rojo" value2="Rojo">
   <div class="fil h-Color_Rojo" >Rojo</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Verde" tag="Color_Verde" value2="Verde">
   <div class="fil h-Color_Verde" >Verde</div>
</div>
<div class="filtro-color">
   <input type="checkbox" name="color" class="categ desk-filter c-Color_Violeta" tag="Color_Violeta" value2="Violeta">
   <div class="fil h-Color_Violeta" >Violeta</div>
</div>

{% end %}