{% extends "./principal.html" %}

{% block tags %}Categoria2_Calzado_Mujer,-Categoria2_Calzado_Hombre{% end %}

{% block categories %}

<div>
   <div class="text-fil-2">
     TIPO DE CALZADO
   </div>
   <form action="/action_page.php" class="chek">
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Ballerinas" name="vehicle" tag="Categoria3_Ballerinas" value="Bike" value2="Ballerinas">
         <div class="fil h-Categoria3_Ballerinas" >Ballerinas</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Botines" name="vehicle" tag="Categoria3_Botines" value="Car" value2="Botines">
         <div class="fil h-Categoria3_Botines" >Botines</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Mocasines" name="vehicle" tag="Categoria3_Mocasines" value="Boat" value2="Mocasines">
         <div class="fil h-Categoria3_Mocasines" >Mocasines</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Mules" name="vehicle" tag="Categoria3_Mules" value="Boat" value="Mules" value2="Slippers">
         <div class="fil h-Categoria3_Mules" >Mules / Slippers</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Plataformas" name="vehicle" tag="Categoria3_Plataformas" value="Boat" value2="Plataformas">
         <div class="fil h-Categoria3_Plataformas" >Plataformas</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Playeras" name="vehicle" tag="Categoria3_Playeras" value="Boat" value2="Playeras">
         <div class="fil h-Categoria3_Playeras" >Playeras</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Sandalias" name="vehicle" tag="Categoria3_Sandalias" value="Boat" value2="Sandalias">
         <div class="fil h-Categoria3_Sandalias" >Sandalias</div>
       </div>
       <div class="filtro-filtros">
         <input type="checkbox" class="categ desk-filter c-Categoria3_Zapatos" name="vehicle" tag="Categoria3_Zapatos" value="Boat" value2="Zapatos">
         <div class="fil h-Categoria3_Zapatos" >Zapatos</div>
       </div>
   </form>

   <div class="clearfix"></div>

   <div class="text-fil"> COLOR PRINCIPAL  </div>
     <div>
     <form action="/action_page.php" class="chek">
     <div class="filtro-color">
       <input type="checkbox" name="color" class="categ desk-filter c-Color_Azul" tag="Color_Azul" value2="Azul">
       <div class="fil h-Color_Azul" >Azul</div>
     </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Beige" tag="Color_Beige" value2="Beige">
        <div class="fil h-Color_Beige" >Beige</div>
     </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Blanco" tag="Color_Blanco" value2="Blanco">
        <div class="fil h-Color_Blanco" >Blanco</div>
     </div>
      <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Burdeo" tag="Color_Burdeo" value2="Burdeo">
        <div class="fil h-Color_Burdeo" >Burdeo</div>
     </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Cafe" value2="Café" tag="Color_Cafe">
        <div class="fil h-Color_Cafe" >Cafe</div>
     </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Dorado" tag="Color_Dorado" value2="Dorado">
        <div class="fil h-Color_Dorado" >Dorado</div>
      </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Gris" tag="Color_Gris" value2="Gris">
        <div class="fil h-Color_Gris" >Gris</div>
     </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Metalico" tag="Color_Metalico" value2="Metálico">
        <div class="fil h-Color_Metalico" >Metalico</div>
     </div>
     <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Negro" tag="Color_Negro" value2="Negro">
        <div class="fil h-Color_Negro" >Negro</div>
     </div>
       <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Rojo" tag="Color_Rojo" value2="Rojo">
        <div class="fil h-Color_Rojo" >Rojo</div>
     </div>
       <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Verde" tag="Color_Verde" value2="Verde">
        <div class="fil h-Color_Verde" >Verde</div>
     </div>
       <div class="filtro-color">
        <input type="checkbox" name="color" class="categ desk-filter c-Color_Violeta" tag="Color_Violeta" value2="Violeta">
        <div class="fil h-Color_Violeta" >Violeta</div>
     </div>
     </form>

   <div class="clearfix"></div>
  <div class="text-fil"> MATERIAL DEL ZAPATO </div>
   <form action="/action_page.php" class="chek">
       <div class="filtro-talla">
         <input type="checkbox" name="material" class="categ desk-filter c-Mat_Capellada_Cuero" tag="Mat_Capellada_Cuero" value2="Cuero" value="Bike">
         <div class="fil h-Mat_Capellada_Cuero" > Cuero </div>
       </div>
       <div class="filtro-talla">
         <input type="checkbox" name="material" class="categ desk-filter c-Mat_Capellada_Eco_Cuero" tag="Mat_Capellada_Eco_Cuero" value2="Eco Cuero" value="Cara">
         <div class="fil h-Mat_Capellada_Eco_Cuero" > Eco Cuero </div>
       </div>
   </form>

   <div class="clearfix"></div>

   <div class="text-fil"> MARCA </div>
   <form action="/action_page.php" class="chek">
        <div class="filtro-marca">
         <input type="checkbox" name="marca" class="categ desk-filter c-Marca_Degas" tag="Marca_Degas" value2="Degas">
         <div class="fil h-Marca_Degas" >Degas </div>
       </div>
       <div class="filtro-marca">
         <input type="checkbox" name="marca" class="categ desk-filter c-Marca_Eda_Manzini" tag="Marca_Eda_Manzini" value2="Eda Manzini">
         <div class="fil h-Marca_Eda_Manzini" >Eda Manzini</div>
        </div>
        <div class="filtro-marca">
         <input type="checkbox" name="marca" class="categ desk-filter c-Marca_Lola_Canales" tag="Marca_Lola_Canales" value2="Lola Canales">
         <div class="fil h-Lola_Canales" >Lola Canales</div>
        </div>
   </form>
</div>

{% end %}
