{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
{% end %}

{% block javascript %}
<script>
$(document).ready(function()
{
    // EXCLUSIVO PARA PLACARE
    $("title").html("Placare - Tiempo de envios");
    $("meta[name=description]").attr("content", "Tiempo de envios");

    $("#OpenAlert").click();

    $(document).ecommerce({
        'app_public': app_public,
        'animation': 'simple',
        'base_url': base_url,
        'checkout_url': checkout_url,
        'products_per_page': 9
    });

    $('.product-list').ecommerce('product_box', config);
});
</script>
{% end %}

{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<!-- *contenido* -->

<body id="lapimport">
    <section>
        <div class="container min">
            <div class="row col-side-padding">
                <div class="col-md-12 text-tiempo-envios">
                    <div class="text-cont {{editabletext}}" text-id="{{ site.name + '_ter_tn' }}"> {{ read_text(site.name + '_ter_tn') }} </div>
                    <div class="text-black {{editabletext}}" text-id="{{ site.name + '_ter_tiempo' }}"> {{ read_text(site.name + '_ter_tiempo') }} </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div align="center">
                        <img class="img-tiempo" src="https://84static.loadingplay.com/static/images/c85a4c5e0d5e9686ef8f5af524c531e2_TiempoPlacare.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="margin-bottom:100px;"></div>
</body>


{% include '../home/footer.html' %}
{% end %}


