{% extends "./listado_productos.html" %}

{% block section_name %}
Zapatos Mujer
{% end %}

{% block tags %}Categoria2_Calzado_Mujer,-Categoria2_Calzado_Hombre,Categoria3_Zapatos{% end %}

{% block categories %}

<div>
    <div class="filters-container">
        <h4>TIPO DE CALZADO</h4>

        <div class="filter">
            <input id="Categoria3_Zapatos" class="checkbox-filter" type="checkbox" label="Zapatos" disabled="true" checked="true" >
            <label for="Categoria3_Zapatos" >Zapatos</label>
        </div>
    </div>
    <div class="clearfix"></div>

    {% include 'common-filters-mujer.html' %}
</div>
{% end %}
