{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/sc.css">
{% end %}
{% block javascript %}
<script type='text/javascript'>
$("#testButton").live("touchstart", function()
{
    $(this).addClass("active");
}).live("touchend", function()
{
    $(this).removeClass("active");
});

$(document).ready(function()
{
    // EXCLUSIVO PARA PLACARE
    $("title").html("Placare.com - Tienda Online de Zapatos para Mujer y Hombre.");
    $("meta[name=description]").attr("content", "Conoce Placare.com un tienda personalizada zapatos para Mujer y Hombre - Compra Segura / Cambios y Devoluciones Gratis / Envios a todo Chile.");

    $("#OpenAlert").click();

    var base_url = $.environmentVar(
        'https://apibodegas.ondev.today/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/');
    var checkout_url = $.environmentVar(
        'https://lpcheckout.ondev.today',
        'https://lpcheckout.ondev.today',
        'https://pay.loadingplay.com');
    var app_public = $.environmentVar(53, 53, 53);
    var site_name = $.environmentVar('placare', 'placare', 'placare');
    var config = {
        'app_public': app_public,
        'base_url': base_url,
        'maxProducts': 16,
        'templateOrigin': '#product_template',
        'tag': '',
        'ignore_stock': false,
        'onLoad': function()
        {
            // $('.ellipsis').ellipsis();
            // $(".ellipsis").dotdotdot();
        }
    };
    $(document).ecommerce({
        'app_public': app_public,
        'animation': 'simple',
        'base_url': base_url,
        'checkout_url': checkout_url,
        'products_per_page': 9
    });

    $('.product-list').ecommerce('product_box', config);

});
</script>

{% end %}

{% block body %}

{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}

<!-- *contenido* -->
<!-- **section banner principal** -->
<div class="container min">

    <!-- desktop version -->
    <div class="col-md-12 article-home main-banner hidden-xs">
        {% if is_admin %}
        <div class="image-upload part1 lapiz">
            <label for="img_home">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_home" name="image" id="img_home">
        </div>
        {% end %}
        <img id="{{ site.name }}_home" src="{{ read_image(site.name + '_home', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_home',500) }}'" alt="banner principal">
    </div>

    <!-- mobile version -->
    <div class="article-home hidden-md hidden-lg hidden-sm visible-xs col-xs-12s">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_banner_mov">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_mov" name="image" id="img_banner_mov">
        </div>
        {% end %}
        <a id="{{ site.name + '_banner_mov' }}" href="{{ read_link(site.name + '_banner_mov') }}">
            <img id="{{ site.name }}_banner_mov" src="{{ read_image(site.name + '_banner_mov', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_mov',) }}'" class="box-med" alt="item">
        </a>

        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_banner_mov' }}" content="{{ read_link(site.name + '_banner_mov') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>
    <!-- **section banner principal fin**** -->

    <!-- *****section varias cajas home ***** -->
    <div class="col-md-4 col-sm-4 col-xs-12 article-home">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_3">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_3" name="image" id="img_box_3">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_3' }}" href="{{ read_link(site.name + '_box_3') }}">
            <img id="{{ site.name }}_box_3" src="{{ read_image(site.name + '_box_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_3',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_3' }}" content="{{ read_link(site.name + '_box_3') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <!-- desktop -->
    <div class="col-md-8 col-sm-8 col-xs-12 article-home hidden-xs visible-md visible-sm visible-lg">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_4">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_4" name="image" id="img_box_4">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_4' }}" href="{{ read_link(site.name + '_box_4') }}">
            <img id="{{ site.name }}_box_4" src="{{ read_image(site.name + '_box_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_4',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_4' }}" content="{{ read_link(site.name + '_box_4') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <!-- mobile -->
    <div class="col-md-8 col-sm-8 col-xs-12 article-home hidden-sm hidden-md hidden-lg visible-xs">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_4_1">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_4_1" name="image" id="img_box_4_1">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_4' }}" href="{{ read_link(site.name + '_box_4') }}">
            <img id="{{ site.name }}_box_4_1" src="{{ read_image(site.name + '_box_4_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_4_1',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_4' }}" content="{{ read_link(site.name + '_box_4') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <!-- desktop -->
    <div class="col-md-8 col-sm-8 col-xs-12 article-home hidden-xs visible-md visible-sm visible-lg">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_77">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_77" name="image" id="img_box_77">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_77' }}" href="{{ read_link(site.name + '_box_77') }}">
            <img id="{{ site.name }}_box_77" src="{{ read_image(site.name + '_box_77', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_77',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_77' }}" content="{{ read_link(site.name + '_box_77') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <!-- mobile -->
    <div class="col-md-8 col-sm-8 col-xs-12 article-home hidden-sm hidden-md hidden-lg visible-xs">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_77_1">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_77_1" name="image" id="img_box_77_1">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_77_1' }}" href="{{ read_link(site.name + '_box_77_1') }}">
            <img id="{{ site.name }}_box_77_1" src="{{ read_image(site.name + '_box_77_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_77_1',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_77' }}" content="{{ read_link(site.name + '_box_77') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 article-home">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_88">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_88" name="image" id="img_box_88">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_88' }}" href="{{ read_link(site.name + '_box_88') }}">
            <img id="{{ site.name }}_box_88" src="{{ read_image(site.name + '_box_88', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_88',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_88' }}" content="{{ read_link(site.name + '_box_88') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 article-home">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_99">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_99" name="image" id="img_box_99">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_99' }}" href="{{ read_link(site.name + '_box_99') }}">
            <img id="{{ site.name }}_box_99" src="{{ read_image(site.name + '_box_99', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_99',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_99' }}" content="{{ read_link(site.name + '_box_99') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 article-home">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_100">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_100" name="image" id="img_box_100">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_100' }}" href="{{ read_link(site.name + '_box_100') }}">
            <img id="{{ site.name }}_box_100" src="{{ read_image(site.name + '_box_100', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_100',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_100' }}" content="{{ read_link(site.name + '_box_100') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 article-home">
        {% if is_admin %}
        <div class="image-upload lapiz">
            <label for="img_box_1000">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_box_1000" name="image" id="img_box_1000">
        </div>
        {% end %}
        <a id="{{ site.name + '_box_1000' }}" href="{{ read_link(site.name + '_box_1000') }}">
            <img id="{{ site.name }}_box_1000" src="{{ read_image(site.name + '_box_1000', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_1000',) }}'" class="box-med" alt="item">
        </a>
        {% if is_admin %}
        <img class="change-image editablelink" link-id="{{ site.name + '_box_1000' }}" content="{{ read_link(site.name + '_box_1000') }}" src="https://cdn.loadingplay.com/static/images/9c01ced4843be5cd42997db07c7944c9_link.png" >
        {% end %}
    </div>

    <div class="clearfix" ></div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-side-padding">
        <hr>
        <div class="{{editabletext}} title-prefooter-home" text-id="{{ site.name + '_pre_footer_ex_1119' }}"> {{ read_text(site.name + '_pre_footer_ex_1119') }}
        </div>
        <div class="{{editabletext}} text-justify" text-id="{{ site.name + '_pre_footer_ber18' }}"> {{ read_text(site.name + '_pre_footer_ber18') }}
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>

{% include '../home/footer.html' %}
{% end %}


