/*doc

---
title: Footer
name: footer
category: footer
---

### listado footer

```html_example
<div id="footer">
    <div class="menu-header" text-id="placare_footer_0">
        <p>Tienda</p>
    </div>
    <div class="menu-element" text-id="placare_footer_1">
        <p><a href="/mules-slippers-mujer">Mules / Slippers &nbsp;Mujer</a></p>
    </div>
    <div class="menu-element" text-id="placare_footer_2">
        <p><a href="/botines-mujer">Botines Mujer</a><br></p>
    </div>
    <div class="menu-element" text-id="placare_footer_3">
        <p><a href="/sandalias-mujer">Sandalias Mujer</a><br></p>
    </div>
    <div class="menu-element" text-id="placare_footer_4_0">
        <p><a href="/plataformas-mujer">Plataformas Mujer</a><br></p>
    </div>
    <div class="menu-element" text-id="placare_footer_5">
        <p><a href="/playeras-mujer">Playeras Mujer</a><br></p>
    </div>
    <div class="menu-element" text-id="placare_footer_6">
        <p><a href="/hombres">Hombres</a><br></p>
    </div>
    <div class="menu-element" text-id="placare_footer_66"> <br>
    </div>
</div>
```

### subscribe

```html_example
<div class="col-md-12 col-sm-12 col-xs-12">
    <hr>
    <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left">
        <div text-id="placare_footer_ex_1">
            <p><b>Suscribete a nuestro Placare.com para mantenerte al tanto de lanzamientos de productos, descuentos, novedades!</b></p>
        </div>
        <div class="menu-header2-0 " text-id="placare_footer_ex_11">
            <p>Escribe tu correo y elige tu preferencia.</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
        <div class="form-group footer">
            <form id="formid" action="https://forms.zohopublic.com/sytes/form/suscripcionmailplacare/formperma/j1E5JE0fa70e4G5_G_fGg6CAG/htmlRecords/submit" name="form" method="POST">
                <div class=" controls">
                    <input name="Email" placeholder="Tu correo electronico" class="form-control input-lg requiredField" type="email" id="itMail" data-error-invalid="Invalid email address" data-error-empty="Ingrese email" required="">
                    <input type="hidden" name="subject" value="contactanos">
                </div>
                <span id="helpBlock3" class="hidden help-block help-mail">Tu correo electronico</span>
                <div class="hidden">
                    <input type="text" name="SingleLine" value="" maxlength="255" invlovedinsalesiq="false">
                </div>
                <button type="submit" class="btn boton-news btn-default sus">Soy Mujer </button>
                <button type="submit" class="btn boton-news btn-default sus-h">Soy Hombre </button>
            </form>
        </div>
    </div>
</div>
<div class="clearfix" ></div>
```

### email footer

```html_example
<div id="footer">
    <input name="Email" placeholder="Tu correo electronico" class="form-control input-lg requiredField" type="email" id="itMail" data-error-invalid="Invalid email address" data-error-empty="Ingrese email" required>
</div>
```
*/

hr
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #E9E9ED;
}

.menu-item
{
    position: relative;
}

#footer input[type=email],
.footer input[type=email]
{
    border-radius: 0px;
    height: 38px;
    font-size: 11px;
    font-weight: 700;
    float: left;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.footer .controls
{
    float: left;
    margin-right: 22px;
}

#footer .menu-header
{
    min-height: 20px;
}

#footer .menu-header p
{
    font-weight: 400;
    text-transform: uppercase;
}

#footer .menu-element
{
    font-size: 13px;
    color: #696b79;
    font-weight: 300;
}

.placare_footer_ex_1 p
{
    font-weight: 400;
}

.ul-2
{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 23px;
    text-transform: uppercase;
    padding-top: 20px;
}

.ul-22
{
    font-size: 14px;
    color: #535766;
    font-weight: 400;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 10px;
    right: 30px;
    text-align: left;
    margin-top: 17px;
}

.ul-22-0
{
    font-size: 13px;
    color: #696b79;
    font-weight: 300;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin-bottom: 32px;
}

.no-dot
{
    left: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.no-doti
{
    left: 0px;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px;
    padding-top: 20px;
}

a.a-footer
{
    color: #428bca;
}

.img-tel
{
    width: 30px;
    position: relative;
    bottom: 2px;
}

#footer
{
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
    background-color: rgba(245, 248, 250, 0.59);
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 45px;
    padding-top: 20px;
}

#footer .row .col-xs-12
{
    padding-bottom: 20px;
}

ul.social
{
    padding-left: 0;
}

ul.social li
{
    margin-right: 5px;
    display: inline-block;
    position: relative;
}

.caja-fo-red
{
    margin-top: 0px;
    margin-bottom: 14px;
}

.img-foot-red
{
    margin-bottom: 0px;
    object-fit: scale-down;
    width: 27px;
}

img.editablelink.fo
{
    position: absolute;
    left: 0px;
    bottom: 20px;
    z-index: 100000;
}

.box-footer
{
    width: 79%;
    height: 60px;
    object-fit: cover;
    margin-top: 12px;
}

.btn-default.sus,
.btn-default.sus-h
{
    color: white;
    background-color: #666465;
    border-color: #666465;
    border-radius: 0px;
    width: auto;
    display: inline-block;
    font-weight: 600;
    float: left;
    position: relative;
    padding-top: 5px;
    padding: 8px 20px;
}

.btn-default.sus
{
    margin-right: 10px;
}

.btn-default.sus:hover,
.btn-default.sus-h:hover
{
    color: #666465;
    background-color: white;
    border-color: #ccc;
}

.firma
{
    text-align: left;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 12px;
    font-weight: 300;
}

.firma-2
{
    text-align: center;
    position: relative;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 12px;
    font-weight: 300;
}

.firma-3
{
    text-align: right;
    position: relative;
    right: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #94969f;
    font-size: 12px;
    font-weight: 300;
}

.kop
{
    font-size: 15px;
    color: #282c3f;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 22px;
    margin-top: 13px;
    text-transform: uppercase;
}

hr.new-f
{
    margin-top: 32px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #E9E9ED;
    width: 96%;
    right: 30px;
    position: relative;
}

.vop
{
    font-size: 14px;
    color: #555;
    font-weight: 600;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 0px;
    right: 13px;
    text-align: left;
    margin-top: 13px;
}

.vop-2
{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.87);
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 9px;
    position: relative;
    margin-bottom: 5px;
    right: 13px;
    text-align: left;
    margin-top: 5px;
    font-weight: 500;
}

.breadcrumb
{
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    right: -3px;
    position: relative;
}

.breadcrumb>li
{
    display: inline-block;
    color: #696b79;
    font-weight: 300;
    font-size: 15px;
}

.bre
{
    font-size: 14px;
    color: #696b79;
    font-weight: 300;
}

.container.min-2
{
    width: 943px;
}

.alme
{
    margin-left: -10px;
    padding: 0px;
    padding-right: 9px;
}

.alme-2
{
    margin-left: 0px;
    padding: 0px;
    padding-right: 9px;
}

.breadcrumb>li+li:before
{
    padding: 0 5px;
    color: #ccc;
    content: none;
}

.wer
{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

.img-foot-red-pa
{
    width: 110px;
    max-width: 100%;
    margin-bottom: 0px;
    object-fit: scale-down;
    right: 0px;
    position: relative;
    padding: 0px;
}

.img-foot-red-pa.espe
{
    width: 110px;
    max-width: 100%;
    margin-bottom: 0px;
    object-fit: scale-down;
    right: 0px;
    position: relative;
    padding: 0px;
}

.opi
{
    text-align: left;
    float: left;
    color: #94989f;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    width: 100%;
}

.img-cam
{
    max-width: 100%;
}

/*----------------------------------------------Responsive-----------------------------------*/
@media (max-width: 991px)
{
    .no-doti
    {
        position: relative;
        left: 0px;
        width: 100%;
    }
    #footer .row .col-xs-12:nth-of-type(4)
    {
        clear: left;
    }
    .container.min-2
    {
        width: 100%;
    }
}

@media (max-width: 768px)
{
    .btn-default.sus:hover
    {
        color: #666465;
        background-color: white;
        border-color: #ccc;
    }
}

@media (max-width: 767px)
{

    .footer .controls
    {
        width: 100%;
    }

    #footer .row .col-xs-12
    {
        padding-bottom: 0;
    }

    .d-o
    {
        margin-right: 0px;
        position: relative;
        margin-left: 0px;
        width: 100%;
    }

    .ul-1
    {
        text-align: left;
        width: 100%;
    }

    .ul-2
    {
        width: 100%;
        text-align: left;
    }

    .img-foot-red
    {
        height: 30px;
        width: 30px;
        float: initial;
        margin-bottom: 0px;
        object-fit: scale-down;
    }

    .btn-default.sus
    {
        color: white;
        background-color: #666465;
        border-color: #ccc;
        border-radius: 0px;
        width: 100%;
        margin-top: 10px;
        font-weight: 600;
        right: 0px;
        left: 0px;
    }

    .btn-default.sus:hover
    {
        color: #666465;
        background-color: white;
        border-color: #ccc;
        border-radius: 0px;
        width: 100%;
        margin-top: 10px;
        font-weight: 600;
        right: 0px;
        left: 0px;
    }

    .btn-default.sus-h
    {
        color: white;
        background-color: #666465;
        border-color: #666465;
        border-radius: 0px;
        width: 100%;
        margin-top: 12px;
        font-weight: 600;
        float: left;
        height: 38px;
        right: 0px;
        position: relative;
        padding-top: 8px;
        margin-bottom: 20px;
        left: 0px;
    }

    .btn-default.sus-h:hover
    {
        color: #666465;
        background-color: white;
        border-color: #ccc;
        border-radius: 0px;
        width: 100%;
        margin-top: 12px;
        font-weight: 600;
        height: 38px;
        float: left;
        position: relative;
        right: 0px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin-bottom: 20px;
        left: 0px;
        padding-top: 8;
    }

    .ul-22
    {
        font-size: 12px;
        color: #555;
        font-weight: 600;
        width: 100%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 9px;
        position: relative;
        margin-bottom: 20px;
        right: 0px;
        text-align: left;
        margin-top: 13px;
    }

    .ul-22-0
    {
        font-size: 10px;
        color: #555;
        font-weight: 600;
        width: 100%;
        right: 0px;
        text-align: left;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        margin-bottom: 95px;
    }

    .img-cam
    {
        width: 250px;
        max-width: 100%;
    }

    .alme
    {
        margin-left: 3px;
        padding: 0px;
    }

    .kop
    {
        font-size: 11px;
        color: #282c3f;
        font-weight: 600;
        width: 100%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 9px;
        position: relative;
        margin-bottom: 10px;
        text-align: left;
        margin-top: 13px;
        text-transform: uppercase;
        display: inline-block;
    }

    .firma
    {
        text-align: left;
        right: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        color: #94969f;
        font-size: 13px;
    }
    .firma-2
    {
        text-align: left;
        position: relative;
        right: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        color: #94969f;
        font-size: 13px;
    }

    .firma-3
    {
        text-align: left;
        position: relative;
        right: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        color: #94969f;
        font-size: 13px;
    }

    .vop
    {
        font-size: 14px;
        color: #555;
        font-weight: 600;
        width: 100%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 9px;
        position: relative;
        margin-bottom: 0px;
        right: 0px;
        text-align: left;
        margin-top: 13px;
    }

    .vop-2
    {
        font-size: 12px;
        color: rgba(128, 128, 128, 0.87);
        width: 100%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 9px;
        position: relative;
        margin-bottom: 5px;
        right: 0px;
        text-align: left;
        margin-top: 5px;
        font-weight: 500;
    }

    hr.new-f
    {
        margin-top: -9px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #ebedef;
        width: 79%;
        right: -67px;
        position: relative;
    }
}

@media (max-width: 500px)
{

    .op
    {
        text-align: left;
        float: left;
        color: #696e79;
        font-weight: 300;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;
        width: 60%;
        margin-bottom: 50px;
    }
}

@media (max-width: 414px)
{

    .alme
    {
        margin-left: 0px;
        padding: 0px;
    }

    .mi
    {
        margin-bottom: -39px;
        margin-left: 4px;
    }

    .container.min-2
    {
        padding: 0px;
    }

    hr.new-f
    {
        margin-top: -9px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #ebedef;
        width: 70%;
        right: -35px;
        position: relative;
    }

    .ul-22-0
    {
        font-size: 12px;
        color: #555;
        font-weight: 600;
        width: 100%;
        right: 0px;
        text-align: left;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        margin-bottom: 95px;
    }

    hr
    {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #E9E9ED;
        width: 97%;
    }

    .img-cam
    {
        width: 250px;
        max-width: 100%;
    }
}

@media (max-width: 375px)
{
    .no-doti
    {
        position: relative;
        left: 0px;
        width: 100%;
        text-align: left;
        padding: 0px;
    }
}

@media (max-width: 320px)
{
    .no-doti
    {
        height: 246px;
    }
}
