/*
* @Author: Ricardo Silva
* @Date:   2018-05-03 16:44:05
* @Last Modified by:   Ricardo Silva
* @Last Modified time: 2018-05-03 16:55:38
*/

/*doc

---
title: Search Bar
name: search_bar
category: header
---

```html_example
<form id="searchform" role="search" action="/placare/listado_productos" method="get">
    <ul class="nav navbar-nav">
        <div class="desktop-query" data-reactid="457">
            <input placeholder="Buscar" name="search_query" class="desktop-searchBar" data-reactid="458" value="">
            <a type="submit" class="desktop-submit" data-reactid="459">
                <span class="myntraweb-sprite desktop-iconSearch sprites-search" data-reactid="460"></span>
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>

        <li class="icon" id="open-cart" data-toggle="modal" data-target="#myModal">
            <span> Tu Compra </span>
            <span class="units-total">
            <span> 0</span>
            </span>
        </li>
        <li class="bor" id="open-cart" data-toggle="modal" data-target="#myModal">
            <img class="img-bolsa" src="https://7static.loadingplay.com/static/images/1ce8436ded946db43060507a3b826882_iconoplacare.png">
        </li>
    </ul>
</form>
<div class="clearfix" ></div>
```

*/


