<!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104850079-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-104850079-1');
    </script>

    <!-- head bt inicio -->
    <title>Placare</title>
    <base href="{{ site_base }}/">
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="author" content="loadingplay.com">
    <meta name="google-site-verification" content="TCWFh3WZyUCgzF1hc2WmC56Y0rffAXS4zflVfZju26Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% include 'product/product_box.html' %}
    {% include 'product/product_home.html' %}
    {% if is_admin %}
        {% set editabletext = 'editabletext' %}
    {% else %}
        {% set editabletext = '' %}
    {% end %}
</head>

<body>
    {% block header %}{% end %}
    {% block body %}{% end %}

    <!-- Modal -->
    <div align="center">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title ">Resumen de tu compra</h4>
                    </div>
                    <div class="modal-body mlb-btn">
                        <div class="container-fluid cart-list" ng-controller="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Talla</th>
                                                <th class="text-center">Cant</th>
                                                <th class="text-center2">Precio</th>
                                                <th class="text-center">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody class="shopping-cart">
                                        </tbody>
                                    </table>
                                    <div class="checkout-form"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ******modal imagen talla****** -->
    <div id="myModal-talla" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title talla">TABLA DE TALLAS</h4>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <img class="img-talla" src="https://7static.loadingplay.com/static/images/4513a39384b32d21aedf88ebbfb6fd92_TablaTallasPlacare.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***fin modal talla**** -->
    <!-- *******************MODAL INGRESO CODIGO PRINCPAL******************* -->
    <div class="container min btb-warning-remove-me">
        <button type="button" class="btn btn-info btn-lg co hidden" data-toggle="modal" data-target="#myModal-codigo">CÓDIGO</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal-codigo" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content co">
                    <div class="modal-header co">
                        <h4 class="modal-title co">LANZAMIENTO PLACARE.COM</h4>
                    </div>
                    <div class="modal-body">
                        <div align="center">
                            <div class="lan">!MUCHAS GRACIAS POR VISITARNOS! ESTAMOS LANZANDO NUESTRA NUEVA TIENDA ONLINE ZAPATOS DE HOMBRE Y MUJER.</div>
                            <div class="lan-2">Si ya tienes tu código de autorización ingrésalo a continuación y ya estarás dentro! Sino lo tienes, síguenos en facebook o instagram para obtenerlo</div>
                            <div class="lan-3">¡Te invitamos a descubrir tus próximos zapatos!</div>
                            <form id="welcome-form">
                                <input type="text" name="fname" class="cup">
                                <br>
                                <button type="submit" class="btn btn-warning en">ENTRAR</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer co">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ******************* FIN MODAL INGRESO CODIGO PRINCPAL******************* -->

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css?1">
    <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/main.min.css?1">

    {% block css %}{% end %}
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css?1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/extras.min.css">

        {% if is_admin %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css?1">
        <link rel="stylesheet" href="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.css?1">
        {% end %}
    </noscript>
    <script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
    </script>
    <!-- /CSS -->
    <script type="text/javascript">
    var site_base = "{{ site_base }}"
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js?1"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js?1"></script>

    {% if is_admin %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/js/jquery.fancybox.min.js" ></script>
    <script type="text/javascript" src="{{ site_base }}/common/js/jquery.editable.min.js?1"></script>
    <script type="text/javascript" src="{{ site_base }}/common/js/editabletext.min.js?1"></script>
    <script type="text/javascript" src="{{ site_base }}/common/js/editablelink.min.js?1"></script>
    <script type="text/javascript" src="{{ site_base }}/common/js/page_editable.min.js?1"></script>
    <script type="text/javascript" src="{{ site_base }}/common/js/editableimage.min.js?1"></script>
    <script type="text/javascript" src="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.min.js?1"></script>

    <script type="text/javascript">
    var site_name = "{{site.name}}";
    </script>
    <script type="text/javascript" src="{{ site_base }}/common/js/contentmanager.js?1"></script>
    {% end %}

    <!-- carga de productos -->
    <script type="text/javascript" src="{{ site_base }}/common/js/environment.detection.min.js?1"></script>
    <script type="text/javascript" src="https://cdn.loadingplay.com/js/connect/bodegas.client.min.js"></script>

    <!-- config shopping cart -->
    <script type="text/javascript">
        window.base_url = $.environmentVar(
            'https://apibodegas.ondev.today/',
            'https://apibodegas.ondev.today/',
            'https://apibodegas.loadingplay.com/');
        window.checkout_url = $.environmentVar(
            'https://lpcheckout.ondev.today',
            'https://lpcheckout.ondev.today',
            'https://pay.loadingplay.com');
        window.app_public = $.environmentVar(53,53,53);
        window.site_name = $.environmentVar('placare', 'placare', 'placare');
    </script>

    <!-- templates -->
    <script type="text/x-template" id="shopping-cart-product">
        <tr>
            <td class="vert-align text-left">{{! name }}</td>
            <td class="vert-align">{{! combination }}</td>
            <td class="text-center vert-align fri" style="border-bottom: 1px solid #ddd;">
                <a href="#!" class="remove-one" lp-cart-remove-one="{{! id }}">-</a> {{! quantity }}
                <a href="#!" class="add-one" lp-cart-add-one="{{! id }}">+</a>
            </td>
            <td class="text-center2 vert-align">{{! price|money }}</td>
            <td class="remove-from-cart text-center fri" lp-cart-remove="{{! id }}" aria-hidden="true"> X </td>
            <td class="text-center vert-align fri">
                <a class="borrarproducto" cart-id="">
                    <i class="icon-close"></i>
                </a>
            </td>
        </tr>
    </script>
    <script type="text/x-template" id="shopping-cart-total">
        <tr>
        </tr>
        <tr>
            <td style="font-weight: 600;">Total:</td>
            <td id="total" colspan="3" class="text-left total-modal lib">{{! total|money }}</td>
        </tr>
    </script>
    <script type="text/x-template" id="shopping-cart-units-total">
        <span> {{! units_total }}</span>
    </script>
    <script type="text/x-template" id="shopping-cart-checkout-form">
        <form action="{{! checkout_url}}" method="get" novalidate id="shipping-form" class="myform" onclick="return Validate()">
            <input name="site_id" class="form-control required" type="hidden" value="53">
            <input name="cart_id" class="form-control required" type="hidden" value="{{! cart_id}}">
            <input name="origin" class="form-control required" type="hidden" value="{{ site.name }}">
            <div class="form-group text-center">
                <button type="submit" class="btn bn" style="background-color: #FF9D36;color: white;width: 31%;border-radius: 0px;height: 43px;float: right;">
                    PAGAR
                </button>
            </div>
            <div class="">
                <a class="modal-close pin" data-dismiss="modal" aria-hidden="true">VOLVER</a>
            </div>
        </form>
    </script>

    <!-- termino carrito de compra -->
    {% block javascript %}{% end %}

    <!-- codigo intercom-->
    <script type="text/javascript" >
        window.intercomSettings = {
            app_id: "dyefpt3j"
        };
    </script>
    <script>
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/dyefpt3j';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
    <!--end codigo intercom-->

    <script type="text/javascript">
        $(document).on("ready", function()
        {
            // show search menu
            $(document).on("click", ".lupita", function(ev)
            {
                $(".buscar-movil").toggle(1000);
            });

            // menu mobile
            $("#menu-toggle").click(function(e)
            {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            // dropdown menu
            $('ul.nav div.dropdown').hover(function()
            {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function()
            {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });

            // prevent default event in footer email
            $('#formid').on('keyup keypress', function(e)
            {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13)
                {
                    e.preventDefault();
                    return false;
                }
            });

            // subscribe button
            $(document).on("click", ".boton-news", function()
            {
                $(this).html("espere");
                if ($(this).hasClass("sus"))
                {
                    $("input[name=SingleLine]").val("Mujer");
                }
                if ($(this).hasClass("sus-h"))
                {
                    $("input[name=SingleLine]").val("Hombre");
                }
            });
        });

        $(document).on('ready pageshow', function()
        {
            $(".more-products").removeClass("hidden");
        });
    </script>

    <!-- Start of placarehelp Zendesk Widget script -->
    <script>
        /*<![CDATA[*/
        window.zEmbed || function(e, t) {
            var n, o, d, i, s, a = [],
                r = document.createElement("iframe");
            window.zEmbed = function() { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
            try { o = s } catch (e) { n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s } o.open()._l = function() {
                var e = this.createElement("script");
                n && (this.domain = n), e.id = "js-iframe-async", e.src = "https://assets.zendesk.com/embeddable_framework/main.js", this.t = +new Date, this.zendeskHost = "placarehelp.zendesk.com", this.zEQueue = a, this.body.appendChild(e)
            }, o.write('<body onload="document._l();">'), o.close()
        }();
        /*]]>*/
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function() { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1993876297507428'); fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1993876297507428&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script>
        window.fbAsyncInit = function() { FB.init({ appId: '348231912006000', xfbml: true, version: 'v2.1' }); }; (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js?1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>
